<li class="new-todo-item">
  <form action="#" class="new-todo-item-form">
    <input type="hidden" name="parent-todo-list-uid" value="{{uid}}">
    <input type="text" name="title" placeholder="new Todo Item title"
      minlength="4" pattern="[A-Za-z]+" title="Please enter only alphabetic characters."required>
    <label class="checkbox-container" title="Priority item?">
      <input type="checkbox" id="new-todo-item-done"  name="priority">
      <span class="checkmark">⭐</span>
    </label>
    <input type="date" name="due-date" class="new-todo-item-due-date">
    <button type="submit" class="new-todo-item-submit" title="Add new TodoList">+</button>
  </form>
</li>