/* ########################### Typography ##################################### */
@font-face {
  font-family: 'kyiv';
  src: url('/src/assets/fonts/kyiv-sans.ttf') format('truetype');
}

@font-face {
  font-family: 'anybody';
  src: url('/src/assets/fonts/anybody.ttf') format('truetype');
}

h1 {
  font-variation-settings: 'wght' 800, 'wdth' 100, 'ital' 0;
  font-size: xx-large;
}

h2 {
  font-variation-settings: 'wght' 700, 'wdth' 100, 'ital' 0;
  font-size: x-large;
}

h3 {
  font-variation-settings: 'wght' 600, 'wdth' 100, 'ital' 0;
  font-size: x-large;
}

h4 {
  font-variation-settings: 'wght' 600, 'wdth' 100, 'ital' 0;
  font-size: large;
}

h5 {
  font-variation-settings: 'wght' 550, 'wdth' 100, 'ital' 0;
  font-size: medium;
}

p {
  font-variation-settings: 'wght' 380, 'wdth' 105, 'ital' 0;
  font-size: small;
}

/* ########################### Navbar ##################################### */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
}

#logo-type {
  flex: 1;
  text-align: center;
  padding-left: 12%;
  font-family: 'kyiv';
  font-variation-settings: "wght" 800, "CONT" 500, "MIDL" -1000;
  font-size: 2.8rem;
}

#subtitle {
  font-size: x-small;
  white-space: nowrap;
}

#search {
  flex: 0;
}

#search input {
  border: none;
  border-bottom: 1px dotted gray;
  /* width: 9.34rem; */
  font-family: 'anybody';
  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 0;
  opacity: 0.7;
}

/* ########################### Main ##################################### */
main {
  font-family: 'anybody';
  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 0;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
}


/* ########################### Sidebar Left ##################################### */
#sidebar-left {
  background-color: rgb(227, 254, 251);
  padding: 1rem;
}



/* ########################### Main content ##################################### */
#content {
  background-color: rgb(239, 254, 225);
  padding: 1rem;
}

/* ########################### Todo Lists ##################################### */

#content-header {
  display: flex;
  align-items: center;
}

#todo-lists-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0.8rem;
}

.todo-list-card {
  background-color: white;
  padding: 1rem;
  border: 1px solid rgba(66, 126, 66, 0.302);
  border-radius: 1rem;
  width: 14rem;
  max-height: 30rem;
  position: relative;
}

.delete-list-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  cursor: pointer;
}

.todo-list-card > p,
.todo-list-card > h1,
.todo-list-card > h2,
.todo-list-card > h3,
.todo-list-card > h4,
.todo-list-card > h5 {
  margin: 0;
  display: inline-block;
}

/* must js detect over flow and if so add pointer and add */
/* ::after element with full content */
.todo-list-card > p {
  margin-top: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}


/* ########################### Todo Items ##################################### */
ul.todo-items-container {
  margin: 0;
  margin-top: 0.8rem;
  padding: 0;
}

li.todo-item, li#new-todo-item {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  padding: 0.3rem;
}

li.todo-item > input,
li.todo-item > p,
input#new-todo-item-done {
  margin: 0;
  padding: 0;
}

li.todo-item > input[type="checkbox"]:checked ~ label {
  opacity: 0.4;
  text-decoration: line-through;
}

.todo-item > .priority-star {
  margin-left: 0.3rem;
  font-size: small;
}

li.todo-item > label {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.4rem;
}

p.due-date {
  margin-left: auto;
  padding-left: 0.2rem;
  text-align: right;
  font-size: 0.72rem;
  /* color: grey; */
}

.todo-item > .delete-item-btn {
  font-size: x-small;
  margin-left: 0.4rem;
  margin-bottom: 0.1rem;
  height: 0.7rem;
  line-height: 0;
  padding: 0.3rem;
  padding-bottom: 0.4rem;
  cursor: pointer;
}


/* ########################### New Todo Item Form ##################################### */
li.new-todo-item {
  display: flex;
  /* margin-right: 0.5rem; */
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  /* width: 100%; */
  /* overflow: hidden; */
}

form.new-todo-item-form input[name="title"] {
  border: none;
  border-bottom: 1px dotted gray;
  width: 9.34rem;
  font-family: 'anybody';
  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 0;
  opacity: 0.7;
}

form.new-todo-item-form input[name="title"]::placeholder {
  font-family: 'anybody';
  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 100;
}

.checkbox-container {
  margin-left: 0.3rem;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container .checkmark {
  opacity: 0.3;
  filter: grayscale(15%);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  opacity: 1;
  transform: scale(1.15);
  filter: grayscale(0%);
}

input.new-todo-item-due-date {
  width: 1.1rem;
  margin-left: 0.3rem;
  opacity: 0.6;
}

.new-todo-item-form {
  display: flex;
  width: 100vw;
}

button.new-item-submit-btn {
  border: 1px solid green;
  margin-left: 0.3rem;
  border-radius: 0.2rem;
  width: 1.4rem;
  font-size: x-small;
  background-color: rgb(26, 211, 26);
  opacity: 0.85;
  cursor: pointer;
}


/* ########################### New Todo List Modal ##################################### */
button#add-todo-list-modal {
  border: 1px solid green;
  margin-left: 1.2rem;
  border-radius: 0.5rem;
  width: 2.2rem;
  font-size: x-large;
  background-color: rgb(26, 211, 26);
  cursor: pointer;
  opacity: 0.8;
}

#new-list-dialog {
  position: relative;
  border: 1px solid rgba(61, 115, 61, 0.728);
  border-radius: 1rem;
  width: max-content;
}

#new-list-dialog h3 {
  margin: 0.7rem 0;
  text-align: center;
}

#close-dialog-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem
}

form#new-todo-list-form {
  display: flex;
  flex-direction: column;
}

form#new-todo-list-form input {
  border: none;
  border-bottom: 1px dotted gray;
  font-family: 'anybody';
  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 0;
  line-height: 1.2rem;
  display: block;
  margin: 0.5rem 0;
}

form#new-todo-list-form input::placeholder {
  font-family: 'anybody';
  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 100;
  opacity: 70%;
}

form#new-todo-list-form input[name="title"] {
  width: 10rem;;
}

form#new-todo-list-form input[name="description"] {
  width: 15rem;
}

form#new-todo-list-form button {
  border: 1px solid green;
  border-radius: 0.2rem;
  background-color: rgb(26, 211, 26);
  font-family: 'anybody';
  font-variation-settings: 'wght' 500, 'wdth' 100, 'ital' 0;
  font-size: medium;
  margin-top: 1rem;
  margin-left: auto;
  padding: 0.5rem;
  /* align-items: center; */
}